{% extends 'base.html' %}
{% block head %}
<title>Wyszukiwarka wierszy</title>
{% endblock %}

{% block body %}
<section class="w-25" style="text-align: center">
    <h1 style="text-align: center">Wyszukiwarka wierszy</h1>
    <div class="list-group">
        <a class="list-group-item" id="category-choose">
            <strong>Wybierz kategorię!</strong>
        </a>
        <a href="/losuj/milosc" class="list-group-item list-group-item-action">miłość</a>
        <a href="/losuj/erotyk" class="list-group-item list-group-item-action">erotyk</a>
        <a href="/losuj/nadzieja" class="list-group-item list-group-item-action">nadzieja</a>
        <a href="/losuj/wiara" class="list-group-item list-group-item-action">wiara</a>
        <a href="/losuj/przyjazn" class="list-group-item list-group-item-action">przyjaźń</a>
        <a href="/losuj/zycie" class="list-group-item list-group-item-action">życie</a>
        <a href="/losuj/zyczenia" class="list-group-item list-group-item-action">życzenia</a>
        <a href="/losuj/okazyjne" class="list-group-item list-group-item-action">okazyjne</a>
        <a href="/losuj/dladzieci" class="list-group-item list-group-item-action">dla dzieci</a>
        <a href="/losuj/przyroda" class="list-group-item list-group-item-action">przyroda</a>
    </div>
</section>

{% endblock %}