{% extends 'base.html' %}
{% block head %}
<title>Wyszukiwarka wierszy</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Wylosowany wiersz:</h1>
    <p style="text-align: center">Wylosowana kategoria: <strong>{{category}}</strong></p>
    <span style="white-space: pre-line">
        <p style="text-align: center">
        {{ text }}
        </p>
    </span>
    <div style="text-align: center;">
        <a role="button" class="btn btn-primary btn-lg" href="javascript:window.location.reload(true)"
           id="choose-again-cat">Losuj ponownie!</a>
    </div>
    <div style="text-align: center;">
        <a role="button" class="btn btn-primary btn-lg" href="/" id="choose-again">Powrót</a>
    </div>


</div>
{% endblock %}